@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientX {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.animate-gradient-slow {
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

.animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fade-in-up-delay {
  animation: fadeInUp 1s ease-out 0.3s forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-2 {
  animation: fadeInUp 1s ease-out 0.6s forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-3 {
  animation: fadeInUp 1s ease-out 0.9s forwards;
  opacity: 0;
}

.animate-gradient-x {
  animation: gradientX 15s ease infinite;
  background-size: 200% 100%;
}

@layer utilities {
  .custom-widths > :nth-child(2) {
    @apply w-[90%];
  }

  .custom-widths > :nth-child(3) {
    @apply w-[70%];
  }

  .custom-widths > :nth-child(4) {
    @apply w-[50%];
  }
}
